<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTD_02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PTD_02.Properties.Settings>
            <setting name="usr_Hidebars" serializeAs="String">
                <value>PTD_hidden</value>
            </setting>
            <setting name="usr_Outlinebars" serializeAs="String">
                <value>PTD_outlines</value>
            </setting>
            <setting name="usr_Outlinepart" serializeAs="String">
                <value>PDT_COUPLER_OUTLINE</value>
            </setting>
            <setting name="usr_Hidepart" serializeAs="String">
                <value>PDT_COUPLER_HIDDEN</value>
            </setting>
            <setting name="usr_Showbars" serializeAs="String">
                <value>PTD_Standard</value>
            </setting>
            <setting name="usr_Showpart" serializeAs="String">
                <value>PDT_COUPLER_VISIBLE</value>
            </setting>
            <setting name="usr_BmLong" serializeAs="String">
                <value>ICOS_NOSPACING</value>
            </setting>
            <setting name="usr_BmLongCust" serializeAs="String">
                <value>ICOS_NOSPACINGNUM</value>
            </setting>
            <setting name="usr_BmSimple" serializeAs="String">
                <value>ICOS_SIMPLESERIAL</value>
            </setting>
            <setting name="usr_Cloud" serializeAs="String">
                <value>ATK_CLOUD</value>
            </setting>
            <setting name="usr_FcrNote" serializeAs="String">
                <value>FCR note</value>
            </setting>
            <setting name="usr_FilterAdded" serializeAs="String">
                <value>PTD_Added</value>
            </setting>
            <setting name="usr_FilterAddedBars" serializeAs="String">
                <value>PTD_ADDED BARS</value>
            </setting>
            <setting name="usr_FilterAddedLinks" serializeAs="String">
                <value>PTD_ADDED LINKS</value>
            </setting>
            <setting name="usr_FilterDeleted" serializeAs="String">
                <value>PTD_DELETED</value>
            </setting>
            <setting name="usr_FilterDeletedBars" serializeAs="String">
                <value>PTD_DELETED BARS</value>
            </setting>
            <setting name="usr_FilterDeletedLinks" serializeAs="String">
                <value>PTD_DELETED LINKS</value>
            </setting>
            <setting name="usr_BarMarkYOffset" serializeAs="String">
                <value>100</value>
            </setting>
        </PTD_02.Properties.Settings>
    </userSettings>
</configuration>